### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [2]:

first_number = float(input("Enter the first number: "))
second_number = float(input("Enter the second number: "))
result = first_number + second_number

print(f"The sum of {first_number} and {second_number} is {result}.")

Enter the first number: 2
Enter the second number: 8
The sum of 2.0 and 8.0 is 10.0.

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [4]:
number = int(input("Enter an integer: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer: 33
Odd

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [3]:
for number in range(1, 21):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [7]:

input_string = input("Enter a string: ")
vowel_count = 0
vowels = "aeiouAEIOU"

for char in input_string:
    if char in vowels:
        vowel_count += 1

print(f"Number of vowels: {vowel_count}")

Enter a string: maroma
Number of vowels: 3

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [8]:
numbers = list(range(1, 11))

for number in numbers:
    print(f"{number} squared is {number ** 2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [10]:

student_name = "maram abubakr"
subject_names = []
scores = []

student_name = input("Enter the student's name: ")


for i in range(3):
    subject = input(f"Enter subject name {i + 1}: ")
    score = float(input(f"Enter score for {subject}: "))
    subject_names.append(subject)
    scores.append(score)

average_grade = sum(scores) / len(scores)
if average_grade > 70:
    print(f"Congratulations {student_name}, your average grade is {average_grade:.2f}.")
else:
    print(f"Keep going {student_name}, your average grade is {average_grade:.2f}. You can do it!")

Enter the student's name: maram
Enter subject name 1: data
Enter score for data: 80
Enter subject name 2: oop
Enter score for oop: 99
Enter subject name 3: ai
Enter score for ai: 85
Congratulations maram, your average grade is 88.00.

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = [element for element in list1 if element in list2]

print("Common elements:", common_elements)

Common elements: [4, 5]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [12]:

numbers = [1, 2, 3, 4, 5, 3, 6]
element_to_remove = 3

while element_to_remove in numbers:
    numbers.remove(element_to_remove)

print("List after removal:", numbers)

List after removal: [1, 2, 4, 5, 6]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [13]:
A = 5
B = 7
C = 2
D = 4
product = A * B * C * D
last_two_digits = product % 100

print("Last two digits:", last_two_digits)

Last two digits: 80

### 10- Given a number X. Determine if the number is prime or not

In [15]:
X = 17
if X < 2:
    is_prime = False
else:
    is_prime = True
    for i in range(2, int(X /1+2) + 1):
        if X % i == 0:
            is_prime = False
            break


if is_prime:
    print(X, "is a prime number")
else:
    print(X, "is NOT a prime number")

17 is NOT a prime number

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [16]:

N = 5
A = [10, 20, 30, 40, 50]
X = 30

found = False
position = -1

for i in range(N):
    if A[i] == X:
        found = True
        position = i
        break

if found:
    print(f"{X} found at position {position}")
else:
    print(f"{X} not found in the list")

30 found at position 2

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [17]:
N = 5
A = [7, 3, 3, 7, 3]

min_element = min(A)

frequency = A.count(min_element)

is_lucky = frequency % 2 != 0

if is_lucky:
    print("Lucky")
else:
    print("Not Lucky")

Lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [18]:
N = 5
A = [3, 7, 2, 9, 4]
min_val = A[0]
max_val = A[0]
min_index = 0
max_index = 0

for i in range(1, N):
    if A[i] < min_val:
        min_val = A[i]
        min_index = i
    if A[i] > max_val:
        max_val = A[i]
        max_index = i

A[min_index], A[max_index] = A[max_index], A[min_index]

print("Modified array:", A)

Modified array: [3, 7, 9, 2, 4]

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [20]:
N = 5
A = [5, 2, 8, 2, 1]

min_value = A[0]
min_position = 0

for i in range(1, N):
    if A[i] < min_value:
        min_value = A[i]
        min_position = i

print(f"The lowest number is {min_value} at position {min_position}")

The lowest number is 1 at position 4

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [21]:
N = 5
A = [5, 2, 8, 1, 3]
for i in range(N):
    for j in range(0, N-i-1):
        if A[j] > A[j+1]:

            A[j], A[j+1] = A[j+1], A[j]
print("Sorted array:", A)

Sorted array: [1, 2, 3, 5, 8]

### 16- Write a Python program to remove spaces from a given string

In [22]:
string = "Maram Ahmed AbuBakr"

result = ""

for char in string:

    if char != ' ':
        result += char

print("String without spaces:", result)

String without spaces: MaramAhmedAbuBakr

### 17-write a Python program to swap first and last element of any list.

In [23]:
my_list = [1, 2, 3, 4, 5]

if len(my_list) >= 2:
    my_list[0], my_list[-1] = my_list[-1], my_list[0]

print("List after swap:", my_list)

List after swap: [5, 2, 3, 4, 1]

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(𝑎, 𝑏) = GCD(𝑎, 𝑏)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**

In [24]:
num1 = 36
num2 = 60

a = num1
b = num2

while b != 0:
    temp = b
    b = a % b
    a = temp

hcf = a
print(f"HCF of {num1} and {num2} is: {hcf}")

HCF of 36 and 60 is: 12